<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
   integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
   crossorigin=""></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.min.js"></script>

<script src="http://mlevans.com/leaflet-hash/javascripts/leaflet-hash.js"></script>  
<!--<script src="https://turbo87.github.io/sidebar-v2/js/leaflet-sidebar.js"></script>-->
<link rel="stylesheet" href="http://turbo87.github.io/leaflet-sidebar/src/L.Control.Sidebar.css" />
<script src="http://turbo87.github.io/leaflet-sidebar/src/L.Control.Sidebar.js"></script>
    
<script src="https://unpkg.com/leaflet-responsive-popup@0.6.3/leaflet.responsive.popup.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet-responsive-popup@0.6.3/leaflet.responsive.popup.css" />

<style>
	#mapid { 
		height: 700px;
		width: 100%;
		z-index: 10;
	}

    .awesome-marker i {
        font-size: 12px;
        margin-top: 12px;
    }

    #sidebar-leaflet {
            padding: 20px;
            /*font-family: monospace;*/
    }

	@media only screen and (max-device-width: 480px) {
		#mapid{
			height: 480px;
			width: 100%;
			z-index: 10;
		}
	}
</style>

<div class="row clearfix">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="card">
        <div id="sidebar-leaflet"></div>
		<div id="mapid"></div>
	</div>
</div>
</div>



<div class="row clearfix">
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                    <div class="info-box bg-red hover-expand-effect">
                        <div class="icon">
                            <!--<i class="material-icons">playlist_add_check</i>-->
                            <i class="fas fa-times"></i>
                        </div>
                        <div class="content">
                            <div class="text">BURACOS</div>
                            <div class="number count-to" data-from="0" data-to="<%= @count_holes %>" data-speed="1" data-fresh-interval="1"><%= @count_holes %></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                    <div class="info-box bg-orange hover-expand-effect">
                        <div class="icon">
                            <!--<i class="material-icons">help</i>-->
                            <i class="fas fa-exclamation"></i>
                        </div>
                        <div class="content">
                            <div class="text">RECLAMAÇÕES</div>
                            <div class="number count-to" data-from="0" data-to="<%= @count_reclamation %>" data-speed="1" data-fresh-interval="1"><%= @count_reclamation %></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                    <div class="info-box bg-light-green hover-expand-effect">
                        <div class="icon">
                            <!--<i class="material-icons">forum</i>-->
                            <i class="fas fa-trash"></i>
                        </div>
                        <div class="content">
                            <div class="text">LIXÃO</div>
                            <div class="number count-to" data-from="0" data-to="<%= @count_trash %>" data-speed="1" data-fresh-interval="1"><%= @count_trash %></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                    <div class="info-box bg-cyan hover-expand-effect">
                        <div class="icon">
                            <!--<i class="material-icons">person_add</i>-->
                            <i class="fas fa-water"></i>
                        </div>
                        <div class="content">
                            <div class="text">DESASTRES</div>
                            <div class="number count-to" data-from="0" data-to="<%= @count_desaster %>" data-speed="1" data-fresh-interval="1"><%= @count_desaster %></div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                    <div class="info-box bg-black hover-expand-effect">
                        <div class="icon">
                            <!--<i class="material-icons">person_add</i>-->
                            <i class="fas fa-skull-crossbones"></i>
                        </div>
                        <div class="content">
                            <div class="text">ASSALTOS</div>
                            <div class="number count-to" data-from="0" data-to="<%= @count_assault %>" data-speed="1" data-fresh-interval="1"><%= @count_assault %></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                    <div class="info-box bg-green hover-expand-effect">
                        <div class="icon">
                            <!--<i class="material-icons">person_add</i>-->
                            <i class="fas fa-thumbs-up"></i>
                        </div>
                        <div class="content">
                            <div class="text">RESOLVIDOS</div>
                            <div class="number count-to" data-from="0" data-to="<%= @count_solveds %>" data-speed="1000" data-fresh-interval="1"><%= @count_solveds %></div>
                        </div>
                    </div>
                </div>
</div>

<div class="modal fade" id="modal-problema" tabindex="-1" role="dialog" style="display: none;">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="largeModalLabel">Indicação de Buracos</h4>
                        </div>
                        <div class="modal-body">
                            						
							<form id="form_problema" name="form-problema" action="/create_event" method="POST">
								<input type="hidden" id="event_type" name="event[event_type]" value="0" />
                                <input type="hidden" id="event_lat" name="event[lat]" value="0" />
                                <input type="hidden" id="event_lon" name="event[lon]" value="0" />
                                <input type="hidden" id="event_user_id" name="event[user_id]" value="0" />
                                <input type="hidden" id="event_city_id" name="event[city_id]" value="0" />

                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <textarea name="event[description]" id="event_description" class="form-control"></textarea> 
                                        <label class="form-label">Descrição do Problema</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input type="checkbox" name="event[anonymous]" id="event_anonymous" checked />
                                    <label for="event_anonymous">Não quero me identificar</label>
                                </div>

                                <div id="event_responses" class="form-group">
                                    
                                </div>                          
                             	
                            </form>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn bg-light-green btn-link waves-effect btn-ok">Confirmar</button>
                            <button type="button" class="btn bg-gray btn-link waves-effect" data-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </div>
</div>


 <script>
	var mymap = L.map('mapid').setView([-23.6500, -46.8442], 13);

    var markers = [];

    var cities_json = <%= City.where(nil).to_json.html_safe %>;
    var events_json = <%= Event.where(nil).to_json.html_safe %>;
    var current_user_id = <%= (current_user.nil?) ? 0 : current_user.id %>;
    var icon_class = "";
    var icon_color = "";
    var popup = L.popup();

    var hash = new L.Hash(mymap);

    var sidebar = L.control.sidebar('sidebar-leaflet', {
            closeButton: true,
            position: 'right'
    });
    mymap.addControl(sidebar);

    mymap.doubleClickZoom.disable();

    /*setTimeout(function () {
        sidebar.show();
    }, 500);*/

    $.each(events_json, function(k,v){
        var pos = [parseFloat(v.lat), parseFloat(v.lon)];

        switch(v.event_type){
            case 0: icon_class = "times"; icon_color = "red"; break;
            case 1: icon_class = "exclamation"; icon_color = "orange"; break;
            case 2: icon_class = "trash"; icon_color = "green"; break;
            case 3: icon_class = "cloud-showers-heavy"; icon_color = "blue"; break;
            case 4: icon_class = "user-secret"; icon_color = "black"; break;
            default: icon_class = "thumbs-up"; icon_color = "gray"; break;
        }

        var icon = L.AwesomeMarkers.icon({
            "icon": icon_class,
            "markerColor": icon_color,
            "className": "awesome-marker awesome-marker-square",
            "prefix": "fa"
        });

        var content = "";

        if(v.user_id == current_user_id){
            content = "Editar Evento";
        }
        else
        {
            content = "<a href='#' style=\"color: white\" class=\"btn btn-success\"><i class='fa fa-thumbs-up'></i></a><a href='#' style=\"color: white\" class=\"btn btn-danger\"><i class='fa fa-thumbs-down'></i></a>";
        }

        marker = L.marker(pos, {icon: icon, 'event': v}).on('click', onClickMarker);;
        marker.addTo(mymap);
        markers.push(marker);
    });

    console.log("Markers Carregados: ", markers);

    function find_city_by_names(names){
        console.log("Filtrar por nomes: ", names);
        var city = $.grep(cities_json, function(city){
            return (names.toUpperCase().indexOf(city.name.toUpperCase()) > -1);
        });

        return city;
    }

    function set_marker_in_map(event, anonymous){

        switch(event.event_type){
            case 0: icon_class = "times"; icon_color = "red"; break;
            case 1: icon_class = "exclamation"; icon_color = "orange"; break;
            case 2: icon_class = "trash"; icon_color = "green"; break;
            case 3: icon_class = "cloud-showers-heavy"; icon_color = "blue"; break;
            case 4: icon_class = "user-secret"; icon_color = "black"; break;
            default: icon_class = "thumbs-up"; icon_color = "gray"; break;
        }

        var icon = L.AwesomeMarkers.icon({
            icon: icon_class,
            /*iconColor: "black",*/
            markerColor: icon_color,
            className: 'awesome-marker awesome-marker-square',
            prefix: 'fa'
        });

        var marker = L.marker([event.lat, event.lon], {icon: icon, 'event': event}).on('click', onClickMarker);

        marker.addTo(mymap);
        markers.push(marker);
    }

	L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
	    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
	    maxZoom: 18,
	    id: 'mapbox.streets',
	    accessToken: 'pk.eyJ1IjoiZGllZ29tb250ZWlybyIsImEiOiJjaWtpeTNucGYwNTdudTBtNjMzeW80Y2FsIn0.D1Y1o7NvJA6hwrKAs_NcIg'
	}).addTo(mymap);

	

	$(window).on("resize", function () { $("#mapid").height($(window).height()-300); mymap.invalidateSize(); }).trigger("resize");

    function onClickMarker(e){
        var event = e.target.options.event;

        //var content = "<div class=\"card\"><div class=\"header\"><h2>"+e.latlng+"</h2>";
        var content = "";
            content+= "<div class=\"body\">";
            content+= "<div id=\"carousel-example-generic\" class=\"carousel slide\" data-ride=\"carousel\">";
            
            content+= "<ol class=\"carousel-indicators\">";
                content+= "<li data-target=\"#carousel-example-generic\" data-slide-to=\"0\" class=\"\"></li>";
                content+= "<li data-target=\"#carousel-example-generic\" data-slide-to=\"1\" class=\"active\"></li>";
                content+= "<li data-target=\"#carousel-example-generic\" data-slide-to=\"2\" class=\"\"></li>";
            content+= "</ol>";


            content+= "<div class=\"carousel-inner\" role=\"listbox\">";
                content+= "<div class=\"item\">";
                    content+= "<img src=\"http://s.glbimg.com/jo/g1/f/original/2012/02/09/obras-pista_600x400.jpg\">";
                content+= "</div>";
                content+= "<div class=\"item active\">";
                    content+= "<img src=\"https://img.7segundos.com.br/6ZXqva0VYXKBM6SFRYW6yWwtpNE=/460x320/smart/s3.7segundos.com.br/uploads/imagens/73992-4_jpg.jpeg\">";
                content+= "</div>";
                content+= "<div class=\"item\">";
                    content+= "<img src=\"http://midias.gazetaonline.com.br/_midias/jpg/2018/11/12/buraco1-5873723.jpg\">";
                content+= "</div>";
            content+= "</div>";


            
            content+="<a class=\"left carousel-control\" href=\"#carousel-example-generic\" role=\"button\" data-slide=\"prev\">";
            content+="<span class=\"glyphicon glyphicon-chevron-left\" aria-hidden=\"true\"></span>";
            content+="<span class=\"sr-only\">Previous</span>";
            content+="</a>";
            content+="<a class=\"right carousel-control\" href=\"#carousel-example-generic\" role=\"button\" data-slide=\"next\">";
            content+="<span class=\"glyphicon glyphicon-chevron-right\" aria-hidden=\"true\"></span>";
            content+="<span class=\"sr-only\">Next</span>";
            content+="</a>";
            content+="</div>";
            content+="</div>";
            content+="</div>";

            //content+= "<div class=\"row\"><div class=\"col-md-12\">"+event.description+"</div></div>";
            content+= "<br/>";
            content+= "<div class=\"row\">"
                content+= "<div class=\"col-md-6\"><button class=\"btn btn-danger btn-block\"><i class=\"fa fa-thumbs-down\"></i></a><span class=\"badge\">"+1+"</span></button></div>";
                content+= "<div class=\"col-md-6\"><button class=\"btn btn-success btn-block\"><i class=\"fa fa-thumbs-up\"></i></a><span class=\"badge\">"+1+"</span></button></div>";
            content+= "</div>";
            content+= "<br/>";
            content+= "<div class=\"row\"><div class=\"col-md-12\"><button type=\"button\" class=\"btn bg-deep-purple btn-block btn-lg waves-effect\">Ver detalhes</button></div></div>";

            content+= "<br/><div class=\"row\"><div class=\"col-md-12\"><blockquote class=\"m-b-25\"><p>"+event.description+"</p></blockquote></div></div>";

        sidebar.setContent(content);
        sidebar.show();
    }

	function onMapClick(e) {
	    /*var conteudo = "<button type=\"button\" class=\"btn btn-primary btn-circle-lg waves-effect waves-circle waves-float\"><i class=\"material-icons\">extension</i></button>";*/
        sidebar.hide();

	    var conteudo = "";

	    conteudo += "<button type=\"button\" data-event-type=\"0\" tabindex=\"0\" data-title=\"Indicação de Problemas na Via\" data-toggle=\"modal\" data-color=\"red\" data-target=\"#modal-problema\" data-coords=\""+e.latlng.toString()+"\" class=\"btn bg-red btn-circle-lg waves-effect waves-circle waves-float btn-problema\"><i class=\"fa fa-times\"></i></button>&nbsp;";

	    conteudo += "<button type=\"button\" data-color=\"orange\" data-event-type=\"1\" tabindex=\"0\" data-title=\"Indicação de Incidentes\" data-toggle=\"modal\" data-target=\"#modal-problema\" data-coords=\""+e.latlng.toString()+"\" class=\"btn bg-orange btn-circle-lg waves-effect waves-circle waves-float btn-problema\"><i class=\"fa fa-exclamation  \"></i></button>&nbsp;";

	    conteudo += "<button type=\"button\" data-color=\"green\" data-event-type=\"2\" tabindex=\"0\" data-toggle=\"modal\" data-title=\"Indicação de Lixo irregular\" data-target=\"#modal-problema\" data-coords=\""+e.latlng.toString()+"\" class=\"btn bg-green btn-circle-lg waves-effect waves-circle waves-float btn-problema\"><i class=\"fa fa-trash\"></i></button>&nbsp;";

	    conteudo += "<button type=\"button\" data-color=\"cyan\" data-event-type=\"3\" tabindex=\"0\" data-coords=\""+e.latlng.toString()+"\" data-title=\"Indicação de Inundações/Desmoronamentos\" data-toggle=\"modal\" data-target=\"#modal-problema\" class=\"btn bg-cyan btn-circle-lg waves-effect waves-circle waves-float btn-problema\"><i class=\"fas fa-water\"></i></button>&nbsp;";

	    conteudo += "<button type=\"button\" data-color=\"black\" data-event-type=\"4\" tabindex=\"0\" data-coords=\""+e.latlng.toString()+"\" data-title=\"Indicação de Problemas na Segurança\" data-toggle=\"modal\" data-target=\"#modal-problema\" class=\"btn bg-black btn-circle-lg waves-effect waves-circle waves-float btn-problema\"><i class=\"fas fa-skull-crossbones\"></i></button>&nbsp;";   

	    popup.setLatLng(e.latlng).setContent(conteudo).openOn(mymap);	    
	}

	/*mymap.on('popupopen', function(e){
		console.log("Popup Open: ", e);
	});*/

	$('#modal-problema').on('show.bs.modal', function (e) {
	  //$('#modal-problema').title("")
	  var modal = $(this);
	  var button = $(e.relatedTarget);
      var params = button.data("coords");
      var coords = params.substring(params.indexOf("(")+1, params.indexOf(")")).split(",");

	  console.log("Modal Lançado: ", e);

	  modal.find('.modal-title').text(button.data("title"));
	  modal.find("#event_type").val(button.data("event-type"));
      modal.find("#event_lat").val(parseFloat(coords[0]));
      modal.find("#event_lon").val(parseFloat(coords[1]));
      modal.find("#event_user_id").val(<%= current_user.id unless current_user.nil? %>);
      modal.find("#event_description").val("");
	  //modal.find(".modal-content").removeClass("modal-col-*").addClass("modal-col-"+button.data("color"));

      popup.remove();

      $.ajax({
        type: "GET",
        url: "https://nominatim.openstreetmap.org/reverse?",
        data: {format: "json", lat: parseFloat(coords[0]), lon: parseFloat(coords[1])},
        success: function(data){
            //console.log("Cidade Localizada por Coordenada: ", data.address.city);
            var city = find_city_by_names(data.address.city);
            //console.log("City: ", city);
            if(city != undefined && city != null){

                modal.find("#event_city_id").val(city[0].id);
            }
        },
        error: function(data){
            console.log("Erro no Reverse City: ", data);
        }
      })

	  $(document).on('dblclick', '.btn-ok', function(eok){
	  	var parent = $($(this).get(0).parentElement.parentElement);
	  	console.log(parent.find("#form_problema").serialize());
        
        $.ajax({
          type: "POST",
          url: "/events.json",
          data: parent.find("#form_problema").serialize(),
          success: function(data){
            //console.log("Sucesso: ",data);
            //
            mymap.setView([data.lat, data.lon]);
            set_marker_in_map(data, true);
            
            modal.modal('hide');



          },
          error: function(data){
            console.log("Erro: ",data);
          }
        });

	  });
	})

	/*$(document).on('click', '.btn-problema', function(e){
		//console.log("Botão Disparado: ", e);
		var params = e.originalEvent.originalTarget.offsetParent.dataset.coords;
		var coords = params.substring(params.indexOf("(")+1, params.indexOf(")"));

		console.log("Original event: ", coords);
		
		var icon = L.AwesomeMarkers.icon({
		    icon: 'coffee',
		    markerColor: 'red',
		    className: 'awesome-marker awesome-marker-square',
		    prefix: 'glyphicon'
		});

		console.log("Icon Class: ", icon);

		var pos = [parseFloat(coords.split(",")[0]), parseFloat(coords.split(",")[1])];
		marker = L.marker(pos, {icon: icon});

		marker.addTo(mymap);
		
	});*/

	mymap.on('dblclick', onMapClick);
 </script>