<p id="notice"><%= notice %></p>

<h1>Event Responses</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_responses.each do |event_response| %>
      <tr>
        <td><%= link_to 'Show', event_response %></td>
        <td><%= link_to 'Edit', edit_event_response_path(event_response) %></td>
        <td><%= link_to 'Destroy', event_response, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event Response', new_event_response_path %>
